<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.hotel.mapper.MemberMapper">
	<select id="selectAll" resultType="Member">
		select mNo, mId, mFirstName, mLastName, mPassword, mTel, 
				mEmail, mBirth, mImg, mCountry, mCity, mAddress, 
				mZipcode, mTempPassword, mRemoveDate, mIfActive 
		from member
	</select>
	
	<select id="selectOne" parameterType="_int" resultType="Member">
		select mNo, mId, mFirstName, mLastName, mPassword, mTel, 
				mEmail, mBirth, mImg, mCountry, mCity, mAddress, 
				mZipcode, mTempPassword, mRemoveDate, mIfActive
		from member
		where mId=#{mId}
	</select>
	
	<insert id="insertMember" parameterType="Member">
		insert into Member (mNo, mId, mFirstName, mLastName, mPassword, mTel, mEmail, mBirth, mImg, 
		 					mCountry, mCity, mAddress, mZipCode, mIfActive)
		values (member_SEQ.nextval, #{mId}, #{mFirstName}, #{mLastName}, #{mPassword}, #{mTel}, #{mEmail}, 
				#{mBirth}, #{mImg}, #{mCountry}, #{mCity}, #{mAddress}, #{mZipCode}, #{mIfActive})
	</insert>
	
</mapper>