<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.hotel.mapper.ReviewMapper">
	<select id="selectAll" resultType="Review">
		select r.rNo, r.rContent, r.rRegdate, r.rReadCount, r.rRate, r.rGroup, r.rStep, r.rDepth, r.mNo, m.mId
		from review r inner join member m 
		on r.mNo=m.mNo
	</select>
	
	<select id="selectOne" parameterType="_int" resultType="Review">
		select rNo,rContent,rRegdate,rReadcount,rRate,rGroup,rStep,rDepth
		from review
		where rNo=#{rNo} 
	</select>
	<insert id="reviewWrite" parameterType="Review">
		insert into review (rNo,rContent,rRegdate,rReadcount,rRate,rGroup,rStep,rDepth,mNo,pNo) values
						(REVIEW_SEQ.nextval,#{rContent},sysdate,0,0,0,0,0,1,1)
	</insert>
	
	<delete id="deleteReview" parameterType="_int">
	delete from review 
	where rNo=#{rNo}
	</delete>
	
	<update id="updateReview" parameterType="Review">
	update review
	set rContent = #{rContent}, rRegdate = sysdate, rRate = #{rRate}
	where rNo = #{rNo}
	</update>
	
</mapper>