<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwill.hotel.mapper.ReviewMapper">
	<select id="selectAll" resultType="Review">
		select r.rNo, r.rFirst, r.rLast, r.rEmail, r.rCleanliness, r.rComfort, r.rPrice, r.rQuality, 
				r.rContent, r.rRegdate, r.pType, r.pNo, m.mId , m.mNo , r.rTotal
		from review r inner join member m 
		on r.mNo = m.mNo
	</select>
	
	<select id="selectOne" parameterType="_int" resultType="Review">
		 
	</select>
	
	<select id="reviewCount" parameterType="_int" resultType="_int">
		select count(rNo) 
		from review 
		where pNo=#{pNo}
	</select>
	
	<insert id="reviewWrite" parameterType="Review">
	<!-- 
		insert into review (rNo, rFirst, rLast, rEmail, rCleanliness, rComfort, rPrice, rQuality, rContent, rRegdate, pType, pNo, mId, mNo)
          values(review_SEQ.nextval, '김', '성민', '2222', 1, 1, 1, 1, '김서인이이', sysdate,'호텔', 6, '6',6)
	 -->
		insert into review (rNo, rFirst, rLast, rEmail, rCleanliness, rComfort, rPrice, rQuality, rContent, rRegdate, pType, pNo, mId, mNo,rTotal)
		values(review_SEQ.nextval, #{rFirst}, #{rLast}, #{rEmail}, #{rCleanliness}, #{rComfort}, #{rPrice}, #{rQuality}, #{rContent}, sysdate, #{pType}, 6, '6', 6,#{rTotal})
		
	</insert>
	
	<delete id="deleteReview" parameterType="_int">
		delete from review 
		where rNo=#{rNo}
	</delete>
	
	<update id="updateReview" parameterType="Review">
	
	</update>
	
</mapper>