@charset "UTF-8";
/* CSS Document */

.numbers-row {
	position: relative;
	width: 130px;
	height: 40px;
	overflow: visible;
}

input.qty2 {
	position: relative;
	width: 68px;
	height: 40px;
	border-radius: none;
	text-align: center;
	left: 31px;
	font-size: 12px;
	padding: 5px;
}